################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorTasker/bin/Debug/net10.0
/BlazorTasker/obj

.vs/
/BlazorLayout/bin/Debug/net10.0
/BlazorLayout/obj
